html {
    background-color: #e4e9fd;
    
    background-image: -webkit-linear-gradient(65deg, #A683E3 0%, #A683E3 30%, transparent 30%, transparent 100%);


    min-height: 1000px;
    font-family: 'Roboto';


}

h1 {
    color: #00204a;
    text-align: center;
}

.box {
    
    max-width: 480px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


#heading {
    background-color: #A683E3;
    text-align: center;
}

.item {
    min-height: 70px;
    
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    display: flex;
}

.item:last-child {
    border-bottom: 0;
    text-align: center;
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: black;
    
    

}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

form {
    text-align: center;
    margin-left: 20px;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    color: #fff;
    font-size: 13px;
    border-width: 0;
    background-color: #A683E3;
    
}
#edit-button{
    position: relative;
    right: 15px !important;
}

#delete-button {
    color: white;
    margin-right: 10px;
    font-size: 13px;
    position: relative;
    left: 366px;
    display: flex;
    padding-top: 16px;
}

input[type="text"] {
    margin: 20px;
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 300;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
    color: gray;
    opacity: 1;
}

footer {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
